
NeverSayNever-Framework/Assets/NsnFramework/Plugins/Sirenix
NeverSayNever-Framework/Assets/StreamingAssets/Plugins/Sirenix
NeverSayNever-Framework/Assets/StreamingAssets.meta
NeverSayNever-Framework/Library
NeverSayNever-Framework/Temp
NeverSayNever-Framework/Log
NeverSayNever-Framework/obj
NeverSayNever-Framework/.vs
NeverSayNever-Framework/Assets/NsnFramework/Plugins/Sirenix.meta
*.csproj
*.DS_Store
