NeverSayNever-Framework/Assets/StreamingAssets
NeverSayNever-Framework/Assets/StreamingAssets.meta
NeverSayNever-Framework/Library
NeverSayNever-Framework/Temp
NeverSayNever-Framework/Log
NeverSayNever-Framework/obj
NeverSayNever-Framework/.vs
NeverSayNever-Framework/.idea
NeverSayNever-Framework/.vsconfig
*.csproj
*.DS_Store
NeverSayNever-Framework/Logs
NeverSayNever-Framework/Assets/Plugins/Sirenix
NeverSayNever-Framework/Assets/Plugins/Sirenix.meta
NeverSayNever-Framework/UserSettings
